<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
	</system.web>
  <connectionStrings>
    <add name ="MyDB" connectionString ="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\College\ASP.NET\2026\Website_B\DB\SEM5_B.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"/>

  </connectionStrings>
</configuration>
